# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Jupyter Notebook
# ===========================
.ipynb_checkpoints/

# ===========================
# Virtual Environments
# ===========================
venv/
env/
.venv/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Data
# Ignore raw datasets
# ===========================
data/raw/*
!data/raw/.gitkeep

# Ignore processed datasets by default
data/processed/*.csv
data/processed/*.parquet

# Keep cleaned dataset for team
!data/processed/properties_clean_v2.csv

# ===========================
# Models
# ===========================
models/*.pkl
models/*.joblib
models/*.h5

# ===========================
# Logs
# ===========================
*.log